@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@700&family=Source+Sans+Pro&display=swap");

.homeNav {
  width: 100vw;
  height: 100px;
  background: transparent;
}
.homeUl {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1em;
  letter-spacing: -1px;
}

li {
  list-style: none;
}
.homeLi {
  padding: 20px 30px;
  margin: 0px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 215, 1) 0%,
    rgba(196, 230, 149, 1) 100%
  );
  box-shadow: 3px 3px 2px rgb(144, 177, 98);
  cursor: pointer;
}

.logoName {
  font-family: "Gaegu", cursive;
  color: #fff;
  font-size: 2em;
}

ion-icon {
  font-size: 2em;
  margin-right: 4px;
  color: #33691e;
}

.homeLi:active {
  box-shadow: 1px 1px 2px rgb(144, 177, 98), inset 4px 4px 2px rgb(144, 177, 98);
}

.homeDep {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textBox {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(82, 82, 94);
}

.textBox:last-child {
  margin-bottom: 20px;
}
.homeInput {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1em;
  padding: 5px 15px;
  margin-top: 20px;
  border-bottom: 1px solid black;
}
.homeFileBox {
  width: 200px;
  padding-bottom: 15px;
  padding-left: 23px;
}
::-webkit-file-upload-button {
  padding: 15px 17px;
  margin-right: 15px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 215, 1) 0%,
    rgba(196, 230, 149, 1) 100%
  );
  box-shadow: 3px 3px 2px rgb(144, 177, 98);
  cursor: pointer;
}
.together {
  display: flex;
  justify-content: space-evenly;
}
.viewBox {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.clearBtn {
  padding: 10px 17px;
  margin-left: 15px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 215, 1) 0%,
    rgba(196, 230, 149, 1) 100%
  );
  box-shadow: 3px 3px 2px rgb(144, 177, 98);
  cursor: pointer;
}

.contentsBox {
  width: 100%;
  min-height: 100px;
  overflow-wrap: break-word;
}
.contents {
  width: 100%;
  height: 100%;
}
.ownBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.ownBtn {
  padding: 7px 14px;
  margin-top: 10px;
  border: 1px solid #33691e;
  border-radius: 5px;
  outline: none;
  background-color: rgba(255, 255, 215, 0.6);
  cursor: pointer;
}

.ownBtn:last-child {
  border-left: none;
}

.ownBtn:hover {
  filter: brightness(1.1);
}

.editBtn {
  padding: 7px 14px;
  border: 1px solid #33691e;
  border-radius: 5px;
  outline: none;
  background-color: rgba(255, 255, 215, 0.6);
  cursor: pointer;
}
.cancelBtn {
  padding: 7px 14px;
  border: 1px solid #33691e;
  border-radius: 5px;
  outline: none;
  background-color: rgba(255, 255, 215, 0.6);
  cursor: pointer;
  float: right;
}

.editNameBox {
  width: 500px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
}
h3 {
  text-align: center;
  padding: 7px 0;
}
.nameEdit {
  padding: 8px 15px;
  outline: none;
  border: 2px solid #33691e;
  border-radius: 10px;
}
.likebtn{
  border: none;
  outline: none;
  display: flex;
  background-color: transparent;
  color: #33691e;
  cursor: pointer;
}